<div id="content">
    <div class="container background-white">
        <div class="container">
            <div class="row margin-vert-30">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <h1 class=" fa fa-user"> Profile</h1><br>
                        <span><strong>user id</strong>:{{#if user._id}}
                            {{user._id}}
                        {{/if}}
</span><br>
                        <span class="fa fa-sign-out"><a href="/logout"> Sign out</a></span>
                        <hr>
                        <div class="jumbotron">
                            {{#if user.local.email}}
                                <img src="https://avatars.io/gravatar/{{user.local.email}}/140" class="img-circle"><br>
                                <strong>email</strong>: {{user.local.email}}<br>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>